---
import "../styles/index.css";
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <!-- Primary Meta Tags -->
        <meta name="title" content="Twidge - The future of productivity" />
        <meta
            name="description"
            content="Twidge is an open-source productivity app which helps you manage link embeds, tasks, calendars and many more"
        />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://twidge.app" />
        <meta
            property="og:title"
            content="Twidge - The future of productivity"
        />
        <meta
            property="og:description"
            content="Twidge is an open-source productivity app which helps you manage link embeds, tasks, calendars and many more"
        />
        <meta
            property="og:image"
            content="https://f004.backblazeb2.com/file/twidge/Slide+4_3+-+1.png"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://twidge.app" />
        <meta
            property="twitter:title"
            content="Twidge - The future of productivity"
        />
        <meta
            property="twitter:description"
            content="Twidge is an open-source productivity app which helps you manage link embeds, tasks, calendars and many more"
        />
        <meta
            property="twitter:image"
            content="https://f004.backblazeb2.com/file/twidge/Slide+4_3+-+1.png"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="text-dark-purple12 selection:bg-dark-purple10 selection:bg-opacity-50"
    >
        <slot />
    </body>
</html>
