.ce-toolbar__plus{
    color: white;
}
.ce-inline-toolbar, .ce-conversion-toolbar {
    color: white;
    background-color: #2f2f2f;
    border: none;
}

.ce-inline-toolbar__dropdown:hover{
    background-color: #2f2f2f;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.ce-conversion-tool__icon{
    color: white;
    background-color: #2f2f2f;
}

.ce-inline-toolbar__actions input{
    color: white;
    background-color: #2f2f2f !important;
}

.ce-block--selected .ce-block__content{
    background-color: #2f2f2f;
}

.ce-toolbox .ce-popover{
    background-color: #2f2f2f;
    border: none;
}
.ce-toolbox .ce-popover:hover{
    background-color: #2f2f2f;
}

.ce-popover__item:hover{
    color: white;
    background-color: #2f2f2f;
}
.ce-toolbox .ce-popover .ce-popover__items .ce-popover__item-icon{
    color: #2f2f2f;
}

.cdx-search-field{
    color: white;
    background-color: #2f2f2f;
}

.ce-inline-tool{
    color: white;
    background-color: #2f2f2f;
}

.ce-inline-tool:hover{
    color: white;
    background-color: #2f2f2f;
}

.ce-toolbar__settings-btn{
    color: white;
}

.ce-settings {
    color: white;
    background-color: #2f2f2f;
    border: none;
}

.ce-settings span:hover, .ce-settings__button:hover{
    color: white;
    background-color: #161616;
}
