---
import ClipSense from "../assets/ClipSense.astro";
import Command from "../assets/Command.astro";
import Element from "../assets/Element.astro";
import Fast from "../assets/Fast.astro";
import Feather from "../assets/Feather.astro";
import Globe from "../assets/Globe.astro";
import NoInternet from "../assets/NoInternet.astro";
import Tree from "../assets/Tree.astro";
import Card from "./card.astro";
---

<div
  class="w-full flex items-center justify-center flex-col gap-6 mt-3 bg-dark-purple2 p-8"
>
  <h1 class="text-5xl font-bold">Features</h1>
  <div class="w-full h-fit grid grid-rows-2 items-center justify-center">
    <div class="flex w-full items-center justify-center">
      <Card
        title="Spaces"
        description="Spaces help you organize your tasks based on a specific context (work, personal, archive)"
      >
        <Tree />
      </Card>
      <Card
        title="Elements"
        description="Elements are the building blocks of Twidge. They can be tasks, notes, images, videos or any other items you create."
      >
        <Element />
      </Card>
      <Card
        title="Command Menu"
        description="The command menu is similar to MacOS spotlight. It allows you to quickly search/insert tasks, spaces, and more."
      >
        <Command />
      </Card>
      <Card
        title="ClipSense"
        description="ClipSense is a feature that allows you to automatically create elements from your clipboard. Just open Twidge and start pasting!"
      >
        <ClipSense />
      </Card>
    </div>
    <div class="flex w-full items-center justify-center">
      <Card
        title="Lightweight"
        description="We are committed to help you stay focused and productive. That's why we made Twidge as lightweight as possible."
      >
        <Feather />
      </Card>
      <Card
        title="Offline first"
        description="None of your data is stored on our servers. Everything is stored locally on your device."
      >
        <NoInternet />
      </Card>
      <Card
        title="Open Source"
        description="Twidge is open source and free to use. You can contribute to the project on GitHub. "
      >
        <Globe />
      </Card>
      <Card
        title="Fast"
        description="Twidge is built with Rust and Tauri to provide a fast and native experience. It has a minimal footprint and is blazingly-fast."
      >
        <Fast />
      </Card>
    </div>
  </div>
</div>
