---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/hero/index.astro";
import Features from "../components/features/index.astro";
import ExampleUsage from "../components/usage/index.svelte";
---

<Layout title="Twidge">
    <div class="min-w-screen min-h-screen bg-dark-purple1">
        <Navbar />
        <Hero />
        <Features />
        <ExampleUsage client:load />
    </div>
</Layout>
