@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,
    html {
        font-family: "Inter", sans-serif;
        overscroll-behavior: none;
    }

    * {
        cursor: default;
    }

    .no-scrollbar ::-webkit-scrollbar {
        width: 0px;
    }

    /* Track */
    .no-scrollbar ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .no-scrollbar ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .no-scrollbar ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}

.viewer {
    position: relative;
    width: 100%;
    height: 100%;
}

.viewport {
    position: relative;
}

.dimension {
    position: absolute;
    background: #4af;
    border-radius: 2px;
    padding: 3px 6px;
    color: white;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    font-weight: bold;
    will-change: transform;
    transform: translate(-50%, 0px);
    transform-origin: top center;
}

.progress-css {
    position: relative;
    overflow: hidden;
    background-color: #f34953;
}

.progress-css::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
            90deg,
            rgba(233, 233, 233, 1) 0,
            rgba(233, 233, 233, 0.9) 50%,
            rgba(233, 233, 233, 0.8) 100%
    );
    animation: shimmer 3s ease-out infinite;
    content: "";
}

@keyframes shimmer {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
background: #555;
}
  