* {
  margin: 0px;
  padding: 0px;
}
html,
body,
.root {
  overflow: none;
}
.root {
  min-width: 100vw;
  min-height: 100vh;
}


.viewer {
    position: relative;
    width: 100%;
    height: 100vh;
}
.viewport {
    position: relative;
    width: 400px;
    image-rendering: pixelated;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 600px;
    background: #f55;
}

.infinite-viewer-wrapper h1 {
  -webkit-filter: blur(0.000001px);
  -webkit-font-smoothing: antialiased;
}
