.codex-editor h1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.codex-editor h2{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
}

.codex-editor h3{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
}

.codex-editor h4{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.codex-editor h5{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
}

.codex-editor h6{
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
}