@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-ExtraLightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('fonts/Nunito-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}