.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.player .controls {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.player .player__button {
    width: fit-content;
    background-color: transparent;
    border: none;
}

.player .player__button:focus {
    outline: none;
}

.player .player__button:hover {
    cursor: pointer;
}

.player .player__button:hover svg {
    color: black;
}

.player .player__button svg {
    font-size: 4em;
    color: white;
}

.player .bar {
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.player .bar .bar__time {
    color: white;
    font-size: 16px;
}

.player .bar .bar__progress {
    flex: 1;
    border-radius: 5px;
    margin: 0 20px;
    height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.player .bar .bar__progress .bar__progress__knob {
    position: relative;
    height: 16px;
    width: 16px;
    border: 1.5px solid white;
    border-radius: 50%;
    background-color: black;
}

@media screen and (max-width: 800px) {
    .player {
        flex-direction: column;
    }

    .player .controls {
        width: 100%;
        margin-top: 20px;
    }

    .player .bar {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .player .song .song__title {
        font-size: 2.5em;
    }

    .player .song .song__artist {
        font-size: 0.8em;
    }
}
