---
import Github from "../assets/Github.astro";
---

<div class="flex w-full gap-3">
    <button
        class="bg-dark-blue4 border border-dark-blue10 hover:bg-dark-blue3 hover:border-dark-blue9 hover:text-dark-blue10 transition-all duration-150 text-dark-blue11 md:px-4 px-4 md:py-3 rounded-xl h-[53px] md:text-2xl text-base font-medium md:leading-[29px]"
    >
        Join Waitlist</button
    >
    <button
        class="bg-dark-purple4 border border-dark-purple10 text-dark-purple11 hover:bg-dark-purple3 hover:border-dark-purple9 hover:text-dark-purple10 transition-all duration-150 px-4 py-3 rounded-xl h-[53px] md:text-2xl text-base font-medium md:leading-[29px] flex gap-3 items-center"
    >
        <Github />
        Star us on GitHub</button
    >
</div>
