:root{
    --primary: 214
}

.dark{
    /* app */
    --color-app-background: var(--primary), 8%, 8%;
    --color-sidebar-background: var(--primary), 14%, 10%;
    --color-sidebar-border: var(--primary), 20%, 15%;

    /* text */
    --color-text: var(--primary), 90%, 90%;
    --color-text-dark: var(--primary), 50%, 90%;
    --color-text-light: var(--primary), 35%, 96%;

    /* buttons */
    --color-button-background: var(--primary), 35%, 28%;
    --color-button-background-hover: var(--primary), 35%, 35%;
    --color-button-background-active: var(--primary), 35%, 40%;
    --color-button-background-disabled: var(--primary), 35%, 20%;
    --color-button-text: var(--primary), 90%, 90%;
    --color-button-text-disabled: var(--primary), 35%, 73%;
}