---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import Github from "./assets/Github.astro";
import Discord from "./assets/Discord.astro";
---

<div class="w-full p-12 flex items-center justify-between">
  <Image
    class="select-none"
    src={"/landing.png"}
    alt="Logo"
    width={48}
    height={30}
  />
  <div class="flex gap-7">
    <a href="/roadmap" class="text-base leading-6 font-normal">Roadmap</a>
    <a href="/faq" class="text-base leading-6 font-normal">FAQ</a>
    <a href="/blog" class="text-base leading-6 font-normal">Blog</a>
  </div>
  <div class="flex gap-3">
    <a href="https://discord.gg/JWrtFeUdVA">
      <Discord />
    </a>
    <a href="https://github.com/VarunPotti/twidge">
      <Github />
    </a>
  </div>
</div>
