@keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.slideUpAndFade-enter {
    animation: slideUpAndFade 0.2s ease-out;
}